<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevExcuses — Система выживания</title>
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body>

    <header class="navbar">
        <div class="container">
            <a href="/" class="logo">DevExcuses</a>
            <nav class="nav-links">
                <div class="add-excuse-block">
                    {% if current_user.is_authenticated %}
                        <a href="/add" class="btn-secondary">Предложить отмазку</a>
                    {% else %}
                        <a href="/login" class="btn-secondary">Предложить отмазку</a>
                    {% endif %}
                </div>
                
                <div class="auth-block">
                    {% if current_user.is_authenticated %}
                        <p>Привет, {{ current_user.username }}!</p>
                        <a href="/logout">Выйти</a>
                    {% else %}
                        <a href="/login">Войти</a>
                        <a href="/register" class="btn-primary">Создать аккаунт</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>

    <main class="container">
        <!-- Профессия -->
        <section class="selection-zone">
            <form action="/" method="POST" class="gen-form">
                <select name="profession">
                    <option value="frontend">Frontend</option>
                    <option value="backend">Backend</option>
                    <option value="devops">DevOps</option>
                    <option value="manager">Project Manager</option>
                </select>
                <button type="submit" class="btn-generate">Получить отмазку</button>
            </form>
        </section>

        <!-- Отмазка -->
         <article class="excuse-card">
    {% if excuse %}
        <div class="card-header">
            <span class="badge">{{ "Prime" if excuse.is_prime else "Classic" }}</span>
            <span class="author">Добавил: <strong>@{{ excuse.author }}</strong></span>
        </div>

        <div class="card-body">
            <p class="excuse-main-text">
                "{{ excuse.content }}"
            </p>
        </div>

        <div class="card-footer">
            <!-- Рейтинг -->
             {% if current_user.is_authenticated %}
            <div class="rating">
                <form action="/vote/{{ excuse.id }}/up" method="POST" style="display:inline;">
                    <button type="submit" class="vote-btn up">▲</button>
                </form>

                <span class="score">{{ excuse.rating }}</span>

                <form action="/vote/{{ excuse.id }}/down" method="POST" style="display:inline;">
                        <button type="submit" class="vote-btn down">▼</button>
                </form>
            </div>
        </div>
            {% else %}
                <div class="rating">
                    <a href="/login"><button type="submit" class="vote-btn up">▲</button></a> 

                    <span class="score">{{ excuse.rating }}</span>
                    
                    <a href="/login"><button type="submit" class="vote-btn up">▼</button></a> 
                </div>
            {% endif %}
        </div>

        
    {% else %}
        <div class="card-body">
            <p class="excuse-main-text">В базе пока нет отмазок. Будь первым, кто добавит!</p>
        </div>
    {% endif %}
</article>
        <!-- Комментарии -->
        <section class="comments-area">
            <h3>Комментарии к этой отмазке</h3>
            {% if current_user.is_authenticated %}
                <form action="/comment/add/{{ excuse.id }}/{{ current_user.username }}" method="POST" class="add-comment-form">
                    <textarea name="text" placeholder="У вас эта отмазка сработала?" required></textarea>
                    <button type="submit" class="btn-secondary">Отправить</button>   
                </form>
            {% else %}
                <a href="/login" class="btn-secondary">
                    Отправить
                </a>
            {% endif %}
            

            <div class="comments-list">
                <!-- Шаблон -->
                {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-meta">
                            <strong>@{{ comment.author }}</strong>
                        </div>
                        <p class="comment-text">{{ comment.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2026 DevExcuses Engine</p>
    </footer>

</body>
</html>